*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    width: 100%;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    background-color: #fff;
    color: #000;
    font-size: 18px;
}

a{
    color: rgb(195, 126, 126); 
    text-decoration: none;
}

.active {
    background: white!important;
    color: black;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.active .liste .menu .sous-menu a {
    color: black;
}

.active header .tel-info, .link-reservation{
    color: #000!important;
}

/* Style de l'entête */
.app-bar{
    background-color: #000000dc;
    transition: 0.3s;
    height: 150px;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 1;  
}

header img{
    width: 80px;
    height: 70px;
    position: relative;
    right: -400px;
}

header .info{
    display: flex;
}

header .tel-info, .link-reservation{
    padding: 0.5rem;
    border: 1px solid #fff;
    margin-inline: 1em;
}

header .info a {
    border-bottom: none;
    text-decoration: none!important ;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

nav{
    padding: 0.5rem;
    width: 100%;
}

.liste .menu{
    display: flex;
    justify-content: center;
}

.liste .menu .sous-menu{
    list-style-type: none;
    color: rgb(255, 255, 255); 
    margin: 0 30px;
}

.liste .menu .sous-menu .nav-link {
    color: white;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.liste .menu .sous-menu .nav-link:hover{
    border-bottom: 5px solid #fff;
}


.liste .menu .sous-menu .sous-nav{
    background-color: white;
    display: none;
    font-size: 11px;
    font-weight: 400;   
}


.liste .menu .sous-menu:hover .sous-nav{
    width: 200px;
    padding: 1rem;
    display: block;
    position: relative;
    top: 20px;
    color: #000;
}
.sous-nav .item{
    list-style-type: none;
    font-size: 11px;

}
.sous-nav .item a{
    text-decoration: none;
    color: black;
    word-spacing: 2px;
}


/*Fin Style de l'entête */

p{
    font-weight: 400;
}

.banier{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.banier img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    filter: brightness(120%) saturate(100%) contrast(150%);
}

.banier h2 {
    position: absolute;
    top: 300px;
    font-size: 4rem;
    font-weight: 700;
    color: rgb(195, 126, 126);
}

.maison{
    display: block;
    text-align: center;
    width: 100%;
}
.maison h1{
    font-family: serif;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.maison p{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(195, 126, 126);
}
.maison img{
    width: 50%;
}
article{
    width: 100%;
    height: auto;
}
.row{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
 
}
.row img{
    width: 512px;
    height: 311px;
}
.groupe{
    display: flex; 
    justify-content: center;
 

}
.container{
    display: flex;
    margin-bottom: 5rem;
    justify-content: center;
  
}
.container img{
    width: 512px;
    height: 311px;
}
.groupe img{
    width: 512px;
    height: 311px;
}

   

 P{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(195, 126, 126);
    margin-right: 4rem;
   
}

.sous-row P{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(195, 126, 126);
    margin-left: 4rem;
    

}
h1{
    text-align: center;
    color: rgb(195, 126, 126);
  font-size: 2rem;
   font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 2p;
}

.sous-row a{
    color: rgb(195, 126, 126); 
    font-size: 1rem;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 4rem;
}
.mine {
display: flex;
justify-content: space-around;
width: 100%;
}
.mine .marg{
    width: 400px;
    height: 282;
    margin-bottom: 5rem;
}
.comman{
    width: 80%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-right: 40%;
    padding: 5rem;
}
.comman img{
    width: 474px;
    height: 368px;
}
i{
    width: 100px;
    height: 38px;
    padding-left: 10px;
  
 
}
 video{
    width: 50%;
}
.controls{
    display: flex;
   justify-content: center;
   margin-bottom: 5rem;
}
.sous-controls{
    width: 50%;
    border: 1px solid black;
    background-color: rgb(222, 193, 193);
    padding-left: 20px;
   
}
.sous-controls h1{
    padding-bottom: 5rem;

}


.design video{
    width: 80%;
    height: 466px;
    border: 1px solid black;
}
footer{
    color: rgb(56, 12, 12);
    width: 100%;
    
    
}
.groupe-block{
    display: flex;
    justify-content: center;
    margin: 2rem;
  
}
.goup-controls{
    border-bottom: 2px solid black;
    
}
.goup-controls p{
text-align: center;
margin-bottom: 5rem;
}
.goup-controls form input{
     
     border: none;
     outline: none;
     border-bottom: 2px solid black!important;
     margin-inline: 10px;

}
.goup-controls button{
    padding: 20px;
    width: 20%;

    
}
::placeholder{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 10px;
}


/* Style reservation form */
.reservation-form{
   height: 25vh;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.reservation-form .form-reservation{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reservation-form .form-reservation input ,select{
    height: 40px;
    padding: 1rem;
    width: 100%;
   
}