body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white
}
p{
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 400;
}
header{
    width: 100%;
    height: 70vh;
    background-image:url('./image/la-maison-palmier.jpg') ;
    margin-bottom: 5rem;

    
    
    
}
nav{
    background-color: white;
    border-bottom: 1px solid gainsboro;
    height: 115px;
}
.navbar img{
    width: 80px;
    height: 70px;
    float: left;
    
}
.navbar{
    display: flex;
    justify-content: end;
    width: 100%;
    
    
   
}
.navbar p{
    margin-left: 10rem;
    margin-right: 4rem;
    border: 1px solid black;
    width: 100px;
    height: 32px;
    text-align: center;
    font-size: 1rem;
}
.liste .menu{
display: flex;
justify-content: center;

}
.liste .menu .sous-menu{
    list-style-type: none;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    padding:10px;
    color: rgb(219, 122, 122);

   
}
.liste .menu .sous-menu .sous-nav{
    visibility: hidden;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    
}
.liste .menu .sous-menu:hover .sous-nav{
    visibility: visible;
}
.sous-nav .item{
    list-style-type: none;
    border: 2px solid black;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;

}
.sous-nav .item a{
    text-decoration: none;
    color: rgb(211, 138, 138);
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-bottom: 5rem;
}
.maison{
    display: block;
    text-align: center;
    width: 100%;
}
.maison h1{
    font-family: serif;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.maison p{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(195, 126, 126);
}
.maison img{
    width: 50%;
}
article{
    width: 100%;
    height: 100vh;
}
.row{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
 
}
.row img{
    width: 512px;
    height: 311px;
}
.groupe{
    display: flex; 
    justify-content: center;
 

}
.container{
    display: flex;
    margin-bottom: 5rem;
    justify-content: center;
  
}
.container img{
    width: 512px;
    height: 311px;
}
.groupe img{
    width: 512px;
    height: 311px;
}

   

 P{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(195, 126, 126);
    margin-right: 4rem;
   
}

.sous-row P{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgb(195, 126, 126);
    margin-left: 4rem;
    

}
h1{
    text-align: center;
    color: rgb(195, 126, 126);
  font-size: 2rem;
   font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 2p;
}
a{
    color: rgb(195, 126, 126); 
    font-size: 1rem;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin:4rem;
    text-decoration: none;
    border-bottom: 1px solid rgb(195, 126, 126); 
}
.sous-row a{
    color: rgb(195, 126, 126); 
    font-size: 1rem;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 4rem;
}
.mine {
display: flex;
justify-content: space-around;
width: 100%;
}
.mine .marg{
    width: 400px;
    height: 282;
    margin-bottom: 5rem;
}
.comman{
    width: 80%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-right: 40%;
    padding: 5rem;
}
.comman img{
    width: 474px;
    height: 368px;
}
i{
    width: 100px;
    height: 38px;
    padding-left: 10px;
  
 
}
 video{
    width: 517px;
    height: 403px;
}
.controls{
    display: flex;
   justify-content: center;
   margin-bottom: 5rem;
}
.sous-controls{
    width: 517px;
    height: 403px;
    border: 1px solid black;
    background-color: rgb(222, 193, 193);
    padding-left: 20px;
   
}
.sous-controls h1{
    padding-bottom: 5rem;

}


.design video{
    width: 80%;
    height: 466px;
    border: 1px solid black;
}
footer .goup-controls{
    
    
}

